[submodule "pack/all/start/vim-endwise"]
	path = pack/all/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/all/start/vim-surround"]
	path = pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/all/start/vim-coffee-script"]
	path = pack/all/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "pack/all/start/vim-railscasts-theme"]
	path = pack/all/start/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "pack/all/opt/apiblueprint.vim"]
	path = pack/all/opt/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim
