[submodule "pack/all/start/vim-endwise"]
	path = pack/all/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/all/start/vim-surround"]
	path = pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/all/start/vim-coffee-script"]
	path = pack/all/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "pack/all/start/vim-railscasts-theme"]
	path = pack/all/start/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "pack/all/start/rust.vim"]
	path = pack/all/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/all/start/vim-slim"]
	path = pack/all/start/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule "pack/all/start/auto-pairs"]
	path = pack/all/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/all/start/xml.vim"]
	path = pack/all/start/xml.vim
	url = https://github.com/othree/xml.vim
[submodule "pack/all/start/emmet-vim"]
	path = pack/all/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/all/start/vim-pug"]
	path = pack/all/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule "pack/all/start/kotlin-vim"]
	path = pack/all/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "pack/all/start/vim-closetag"]
	path = pack/all/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
